<!DOCTYPE html>
<html>
<head>
    <title>TodoMVC</title>
    <script src="https://unpkg.com/vue"></script>

    <!-- Here goes the Parse SDK for JavaScript -->
    <script src="https://unpkg.com/parse/dist/parse.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!--
    <link
            rel="stylesheet"
            type="text/css"
            href="https://unpkg.com/todomvc-app-css@2.2.0/index.css"
    />
    -->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link href="pricing.css" rel="stylesheet">
</head>
<body>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">What we Had For Dinner</h1>
    <p class="lead">Record what you had for dinner. So Exciting!</p>
</div>

<div class="container">
<section class="todoapp">
    <header class="header">
        <input
                class="new-todo form-control"

                autofocus
                autocomplete="off"
                placeholder="What did you have for dinner?"
                v-model="newTodo"
                @keyup.enter="addTodo"
        />
    </header>
    <section class="main" v-show="todos.length" v-cloak>
        <input
                id="toggle-all"
                class="toggle-all"
                type="checkbox"
                v-model="allDone"
        />
        <label for="toggle-all"></label>
        <ul class="todo-list">
            <li
                    v-for="todo in filteredTodos"
                    class="todo"
                    :key="todo.id"
                    :class="{ completed: todo.completed, editing: todo == editedTodo }"
            >
                <div class="view">
                    <input class="toggle" type="checkbox" v-model="todo.completed" />
                    <label @dblclick="editTodo(todo)">{{ todo.description }} {{ todo.date | dformat }}</label>
                    <button class="destroy" @click="removeTodo(todo)"></button>
                </div>
                <input
                        class="edit"
                        type="text"
                        v-model="todo.description"
                        v-todo-focus="todo == editedTodo"
                        @blur="doneEdit(todo)"
                        @keyup.enter="doneEdit(todo)"
                        @keyup.esc="cancelEdit(todo)"
                />

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                            <label @dblclick="editTodo(todo)">{{ todo.description }} {{ todo.date | dformat }}</label>
                        </div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with checkbox">
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer" v-show="todos.length" v-cloak>
        <span class="todo-count">
          <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
        </span>
        <ul class="filters">
            <li>
                <a href="#/all" :class="{ selected: visibility == 'all' }">All</a>
            </li>
            <li>
                <a href="#/active" :class="{ selected: visibility == 'active' }"
                >Active</a
                >
            </li>
            <li>
                <a
                        href="#/completed"
                        :class="{ selected: visibility == 'completed' }"
                >Completed</a
                >
            </li>
        </ul>
        <button
                class="clear-completed"
                @click="removeCompleted"
                v-show="todos.length > remaining"
        >
            Clear completed
        </button>
    </footer>
</section>
</div>
<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="http://evanyou.me">Evan You</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>

    Parse.initialize("gfJsg1LSUS8hn3KXB1D5SoGaGUjvbd67cQUbW3rm", "SmwTlhFBTtsKqAYdbn3hwPOYlR6wCyNfq4mOUJeH"); //PASTE HERE YOUR Back4App APPLICATION ID AND YOUR JavaScript KEY
    Parse.serverURL = "https://parseapi.back4app.com/";
    const FreezerList = Parse.Object.extend("FreezerList");

    // Full spec-compliant TodoMVC with localStorage persistence
    // and hash-based routing in ~120 effective lines of JavaScript.

    // localStorage persistence
    var STORAGE_KEY = "todos-vuejs-2.0";
    var todoStorage = {
        fetch: function(vueObject) {
            //var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || "[]");
            var todos = [];

            const query = new Parse.Query(FreezerList);
            query.equalTo('user', 'ciresh');

            // here you put the objectId that you want to update
            query.first().then((freezerList) => {
                if (freezerList === undefined) {
                    todos = []
                }
                else {
                    var itemsString = freezerList.get("items");
                    console.log(itemsString);
                    todos = JSON.parse(itemsString);
                }


                todos.forEach(function(todo, index) {
                    todo.id = index;
                    todo.date = new Date(todo.date);
                });
                todoStorage.uid = todos.length;
                vueObject.todos = todos
                return todos;
            });
        },
        save: function(todos) {
            localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));




            const query = new Parse.Query(FreezerList);
            query.equalTo('user', 'ciresh');

            // here you put the objectId that you want to update
            query.first().then((freezerList) => {
                if (freezerList === undefined){
                    freezerList = new FreezerList();
                    freezerList.set("user",'ciresh');
                }
                freezerList.set("items",JSON.stringify(todos));
                freezerList.save().then((response) => {
                    // You can use the "get" method to get the value of an attribute
                    // Ex: response.get("<ATTRIBUTE_NAME>")
                    // if (typeof document !== 'undefined') document.write(`Updated GameScore: ${JSON.stringify(response)}`);
                    console.log('Updated GameScore', response);
                }, (error) => {
                    // if (typeof document !== 'undefined') document.write(`Error while updating GameScore: ${JSON.stringify(error)}`);
                    console.error('Error while updating GameScore', error);
                });
            });




        }
    };

    // visibility filters
    var filters = {
        all: function(todos) {
            return todos;
        },
        active: function(todos) {
            return todos.filter(function(todo) {
                return !todo.completed;
            });
        },
        completed: function(todos) {
            return todos.filter(function(todo) {
                return todo.completed;
            });
        }
    };

    // app Vue instance
    var app = new Vue({
        // app initial state
        data: {
            todos: [],//todoStorage.fetch(),
            newTodo: "",
            editedTodo: null,
            visibility: "all"
        },

        mounted: function() {
            todoStorage.fetch(this);
        },

        // watch todos change for localStorage persistence
        watch: {
            todos: {
                handler: function(todos) {
                    todoStorage.save(todos);
                },
                deep: true
            }
        },

        // computed properties
        // http://vuejs.org/guide/computed.html
        computed: {
            filteredTodos: function() {
                return filters[this.visibility](this.todos);
            },
            remaining: function() {
                return filters.active(this.todos).length;
            },
            allDone: {
                get: function() {
                    return this.remaining === 0;
                },
                set: function(value) {
                    this.todos.forEach(function(todo) {
                        todo.completed = value;
                    });
                }
            }
        },

        filters: {
            pluralize: function(n) {
                return n === 1 ? "item" : "items";
            },
            dformat: function(d) {
                if (d instanceof Date)
                    return  (d.getMonth()+1) + "-" + d.getDate()  + "-" + d.getFullYear();
                return d;
            }

        },

        // methods that implement data logic.
        // note there's no DOM manipulation here at all.
        methods: {
            addTodo: function() {
                var value = this.newTodo && this.newTodo.trim();
                if (!value) {
                    return;
                }
                this.todos.unshift({
                    id: todoStorage.uid++,
                    description: value,
                    date: new Date(),
                    completed: false
                });
                this.newTodo = "";
            },

            removeTodo: function(todo) {
                this.todos.splice(this.todos.indexOf(todo), 1);
            },

            editTodo: function(todo) {
                this.beforeEditCache = todo.description;
                this.editedTodo = todo;
            },

            doneEdit: function(todo) {
                if (!this.editedTodo) {
                    return;
                }
                this.editedTodo = null;
                todo.description = todo.description.trim();
                if (!todo.description) {
                    this.removeTodo(todo);
                }
            },

            cancelEdit: function(todo) {
                this.editedTodo = null;
                todo.description = this.beforeEditCache;
            },

            removeCompleted: function() {
                this.todos = filters.active(this.todos);
            }
        },

        // a custom directive to wait for the DOM to be updated
        // before focusing on the input field.
        // http://vuejs.org/guide/custom-directive.html
        directives: {
            "todo-focus": function(el, binding) {
                if (binding.value) {
                    el.focus();
                }
            }
        }
    });

    // handle routing
    function onHashChange() {
        var visibility = window.location.hash.replace(/#\/?/, "");
        if (filters[visibility]) {
            app.visibility = visibility;
        } else {
            window.location.hash = "";
            app.visibility = "all";
        }
    }

    window.addEventListener("hashchange", onHashChange);
    onHashChange();

    // mount
    app.$mount(".todoapp");
</script>
</body>
</html>
