<!DOCTYPE html>
<html>
<head>
    <title>What's in the Freezer</title>
    <script src="https://unpkg.com/vue"></script>

    <!-- Here goes the Parse SDK for JavaScript -->
    <script src="https://unpkg.com/parse/dist/parse.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


    <link
            rel="stylesheet"
            type="text/css"
            href="freezer.css"
    />

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

</head>
<body>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">What's in the Freezer</h1>
    <p class="lead">Record what is in the freezer. So Exciting!</p>
</div>

<div class="container">
    <section class="todoapp">

        <!--
        <div id="loading" class="loading">

        </div>
        -->

        <header class="header">

            <div  style="display:flex; justify-content: Space-around; align-items: center; margin: 10px 10px 10px 10px">
                <p>Sort:</p>
                <button type="button" class="btn btn-outline-secondary btn-sm" @click="setStort('SortDate')" >Date</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" @click="setStort('SortLocation')" >Location</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" @click="setStort('SortName')" >Name</button>
            </div>


            <!--

            <div class="btn-group btn-group-toggle" xdata-toggle="buttons"
                 style="display:flex; justify-content: Space-around; align-items: center">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" id="SortDate" autocomplete="off" checked v-model="sortType"
                           value="SortDate"> Date
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="SortLocation" autocomplete="off" v-model="sortType"
                           value="SortLocation"> Location
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="SortName" autocomplete="off" v-model="sortType"
                           value="SortName"> Name
                </label>
            </div>
-->
            <br>
            <p>Show:</p>
            <ul class="filters" style="display:flex; justify-content: Space-around; align-items: center">
                <!-- this changes the url. The URL change will then be noticed by onHashChange() -->

                <li><a href="#/all" :class="{ selected: visibility == 'all' }">All</a></li>
                <li><a href="#/kitchen" :class="{ selected: visibility == 'kitchen' }">Kitchen</a></li>
                <li><a href="#/basement" :class="{ selected: visibility == 'basement' }">Basement</a></li>
            </ul>
            <br>

            <input
                    class="new-todo form-control"
                    autofocus
                    autocomplete="off"
                    placeholder="Search?"
                    v-model="searchTerm"
            />
            <br>
            <!--
            <div>{{searchTerm}}</div>
            <br> -->
            <input
                    class="new-todo form-control"
                    autofocus
                    autocomplete="off"
                    placeholder="Add new item..."
                    v-model="newTodo"
                    @keyup.enter="addTodo"
            />
        </header>
        <p>Number of entries: {{ filteredTodos.length }}</p>
        <section class="main" v-show="todos.length" v-cloak>
            <input
                    id="toggle-all"
                    class="toggle-all"
                    type="checkbox"
                    v-model="allDone"
            />

            <ul class="todo-list">
                <li
                        v-for="todo in filteredTodos"
                        class="todo"
                        :key="todo.id"
                        v-bind:class="{ completed: todo.completed, editing: todo == editedTodo }"
                >
                    <!--
                            List entry template
                    -->
                    <div class="entry">
                        <input type="checkbox"/>
                        <div class="date">
                            <span @dblclick="editTodo(todo)" class="date">{{ todo.date | dformat }}</span>
                        </div>
                        <div class="desc" @dblclick="editTodo(todo)">{{ todo.description }}</div>
                        <div>{{ todo.location[0] }}</div>
                        <div class="rcolumn">

                            <button class="destroy2" @click="removeTodo(todo)">×</button>
                        </div>
                    </div>
                    <!-- @blur="doneEdit(todo)" -->

                    <!--
                            Editing List Template
                    -->
                    <div>
                        <!-- v-todo-focus="todo == editedTodo" -->
                        <input
                                class="edit"
                                type="text"
                                v-model="editableTodo.description"
                                @keyup.enter="doneEdit(todo)"
                                @keyup.esc="cancelEdit(todo)"
                        />

                        <input class="edit"
                               type="date"
                               id="start"
                               name="trip-start"
                               v-model="editableTodo.date"
                        >

                        <select class="edit" name="location" v-model="editableTodo.location">
                            <option value="Basement">Basement</option>
                            <option value="Kitchen" selected>Kitchen</option>
                        </select>

                        <button class="edit"
                                type="button"
                                id="ok"
                                @click="doneEdit(todo)"
                        >OK
                        </button>
                        <button class="edit"
                                type="button"
                                id="cancel"
                                @click="cancelEdit(todo)"

                        >Cancel
                        </button>
                        <!-- @blur="doneEdit(todo)"
                                @keyup.enter="doneEdit(todo)"
                                @keyup.esc="cancelEdit(todo)"-->
                    </div>

                    <!--
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" aria-label="Checkbox for following text input">
                                                <label @dblclick="editTodo(todo)">{{ todo.description }} {{ todo.date | dformat }}</label>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" aria-label="Text input with checkbox">
                                    </div>
                                    -->
                </li>
            </ul>
        </section>
        <!--
        <footer class="footer" v-show="todos.length" v-cloak>
            <span class="todo-count">
              <strong>{{ remaining }}</strong> {{ remaining | pluralize }} left
            </span>

            <button
                    class="clear-completed"
                    @click="removeCompleted"
                    v-show="todos.length > remaining"
            >
                Clear completed
            </button>
        </footer>
        -->
    </section>
</div>
<footer class="info">
    <p>Double-click to edit a mean</p>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="freezer.js"></script>
<script>

</script>
</body>
</html>
